PAYBR_CLIENT_ID=live_841e2f45b561386f4cc4b4dabcdd84b0
PAYBR_CLIENT_SECRET=COLOQUE_O_CLIENT_SECRET_DO_7BANK_AQUI
PAYBR_API_URL=https://api-7bank.squareweb.app
ALLOWED_ORIGIN=https://iphone-br-express.github.io
PORT=3000
